<div style="margin-left:10%; margin-right:10%;">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Anteproyecto:</th>
            <th scope="col">Análisis de las emisiones de gases de efecto invernadero y su impacto en el calentamiento global: Estudio de caso en una ciudad urbana</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Descripción</th>
            <td>Un trabajo escrito sobre el calentamiento global podría incluir una variedad de temas, 
                desde la causa y los efectos del calentamiento global hasta posibles soluciones y medidas 
                para reducir las emisiones de gases de efecto invernadero.
                <br>
                En el trabajo escrito, se podría comenzar por presentar una introducción sobre el tema, 
                explicando lo que es el calentamiento global y sus principales causas. Se podría explorar 
                cómo las emisiones de gases de efecto invernadero han aumentado en las últimas décadas y 
                cómo esto está contribuyendo al cambio climático.</td>
          </tr>
        </tbody>
    </table>
    <br>
    <br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Items</th>
            <th scope="col">Contenido</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Descripción del Problema</th>
            <td>El calentamiento global es un problema ambiental grave que se ha convertido en una 
                preocupación global. Se refiere al aumento gradual de la temperatura promedio en la superficie 
                de la Tierra y en la atmósfera terrestre, que se debe principalmente a la liberación de gases de 
                efecto invernadero en la atmósfera. Estos gases son producidos por actividades humanas como la quema 
                de combustibles fósiles, la deforestación y la agricultura intensiva.</td>
          </tr>
          <tr>
            <th scope="row">Planteamiento del Problema</th>
            <td>El calentamiento global es un problema que se ha intensificado en las últimas décadas debido 
                al aumento de las emisiones de gases de efecto invernadero producidos por la actividad humana. 
                Estos gases, principalmente dióxido de carbono, metano y óxido nitroso, atrapan el calor del sol 
                en la atmósfera terrestre, lo que aumenta gradualmente la temperatura del planeta.</td>
          </tr>
          <tr>
            <th scope="row">Hipotesis</th>
            <td colspan="2">La hipótesis principal del calentamiento global es que el aumento de las emisiones de 
                gases de efecto invernadero causados por la actividad humana está contribuyendo significativamente 
                al aumento de la temperatura promedio de la Tierra. Esta hipótesis se basa en la comprensión científica 
                de cómo estos gases atrapan el calor del sol en la atmósfera terrestre y en la evidencia de que los niveles 
                de gases de efecto invernadero han aumentado drásticamente en las últimas décadas.</td>
          </tr>
          <tr>
            <th scope="row">Objetivo General</th>
            <td colspan="2">Dar a conocer la gran relevancia que el calentamiento global posee en la vida de todos
                y cada uno de los seres vivos teniendo en cuenta sus causas, impactos y soluciones
            </td>
          </tr>
          <tr>
            <th scope="row">Título</th>
            <td colspan="2">El calentamiento global: causas, impactos y soluciones</td>
          </tr>
          <tr>
            <th scope="row">Justificación</th>
            <td colspan="2">El calentamiento global es un tema de gran relevancia debido a sus efectos negativos 
                en el medio ambiente y en la vida humana. La evidencia científica muestra que el aumento de las 
                emisiones de gases de efecto invernadero producidos por la actividad humana es una de las principales 
                causas del aumento de la temperatura promedio de la Tierra. <br>

                Los impactos del calentamiento global son significativos y se están sintiendo en todo el mundo, desde el 
                derretimiento acelerado de los glaciares hasta la intensificación de eventos climáticos extremos como 
                sequías, inundaciones y tormentas. Además, el calentamiento global también afecta a la biodiversidad y 
                a los ecosistemas, lo que a su vez tiene efectos económicos y sociales negativos.</td>
          </tr>
        </tbody>
      </table>
</div>