
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">REGISTRAR ANTEPROYECTO</a>
    </div>
</nav> 

<form style="margin-left: 25%; margin-right: 25%;">
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" placeholder="XXXXXXXXXXXXX">
    </div>
    <div class="mb-3">
        <label class="form-label">Descripción</label>
        <textarea class="form-control" rows="12"></textarea>
    </div>    
    <div>
        <button type="button" class="btn btn-success" routerLink="/RegistroItem" >Registrar</button>
    </div>
</form>