<form style="margin-left: 25%; margin-right: 25%;" id="Formulario">
    <div class="mb-3">
        <h3>Descripción del Problema</h3>
        <textarea class="form-control" rows="20" name="Description" id="Description" required></textarea>
    </div>    
    <div style="display: flex;
                flex-direction: column;
                align-items: center;">
        <button id="continue" type="button" class="btn btn-primary" routerLink="/RegistroItem/PlaneamientoProblema" >Continuar</button>
    </div>
</form>