<div class="card" style="margin-left: 20%; margin-right: 20%;">
    <div class="card-header">
      TÍTULO
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Enfocar en el objetivo central del tema</p>
        <footer class="blockquote-footer">Fecha: <cite title="Source Title">19/02/2023</cite></footer>
      </blockquote>
    </div>
</div>
<br>
<div class="card" style="margin-left: 20%; margin-right: 20%;">
    <div class="card-header">
      PLANTEAMIENTO DEL PROBLEMA
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Mejorar la redacción</p>
        <footer class="blockquote-footer">Fecha: <cite title="Source Title">09/03/2023</cite></footer>
      </blockquote>
    </div>
</div>